.repeatToggle {
  display: none;
}

.repeatToggle {
  display: flex;
  font-size: 11px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 11px;
  text-transform: uppercase;
  padding: 0;
  border: 0;
  outline: none;
  cursor: pointer;
  border-bottom: 1px solid #000000;
  background-color: transparent;
}

.repeatToggle:hover {
  opacity: 0.5;
}

.repeatStatus {
  padding-left: 2px;
}

.repeatDays {
  border: 0;
  padding: 0;
  width: 100%;
  margin: 0;
}

.repeatDays:disabled {
  display: none;
}

.repeatDaysInner {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 3px;
}

.repeatDay {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  font-size: 12px;
  border: 1px solid #e3dede;
  color: #e3dede;
  cursor: pointer;
}

.repeatDay:hover {
  background-color: rgba(227, 222, 222, 0.2);
}

.repeatDayInput:checked + .repeatDay {
  color: #000000;
  border-color: #000000;
}
