.loadMore {
  width: 100%;
  padding: 15px 0;
  display: flex;
  justify-content: center;
  background-color: transparent;
  border: 1px solid #000000;
  text-transform: uppercase;
  box-shadow: 0 9px 38px 0 rgba(2, 2, 2, 0.15);
  cursor: pointer;
  margin-top: auto;
  outline: none;
}

.loadMore:hover {
  background-color: rgba(0, 0, 0, 0.1);
  opacity: 0.8;
}
