.sortList {
  margin-bottom: 24px;
}

.boardSort {
  display: inline-block;
  margin-right: 24px;
  outline: none;
  text-decoration: none;
  color: #000;
}

.boardSort:hover,
.boardSort:focus {
  opacity: 0.7;
}

.boardSortActive {
  font-weight: bold;
}
