.filterList {
  margin-bottom: 24px;
}

.boardFilter {
  display: inline-block;
  margin-right: 24px;
  outline: none;
  text-decoration: none;
  color: #000;
}

.boardFilter:hover,
.boardFilter:focus {
  opacity: 0.7;
}

.boardFilterActive {
  font-weight: bold;
}
