.card {
  position: relative;
  width: 210px;
  min-height: 210px;
  margin-bottom: 26px;
  margin-right: 40px;
}

.inner {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  padding: 7px 15px;
  box-sizing: border-box;
  box-shadow: 0 9px 38px 0 rgba(0, 17, 45, 0.12);
  background-color: #ffffff;
  outline: 0;
}

.inner:hover {
  outline: 10px solid white;
  transition: outline-width 0.2s ease-in-out;
  box-shadow:
    0 -14px 38px 0 rgba(35, 113, 245, 0.07),
    0 14px 38px 0 rgba(35, 113, 245, 0.07);
  z-index: 1;
}

.inner {
  bottom: auto;
  z-index: 2;
  min-height: 450px;
  border: 1px solid #000000;
  padding-bottom: 15px;
}
.inner:hover {
  box-shadow: 0 9px 38px 0 rgba(0, 17, 45, 0.12);
  outline: 0;
}

.settings {
  display: flex;
  margin-top: 0;
  flex-direction: column;
}

.details {
  display: flex;
  flex-direction: column;
  order: 2;
  margin-bottom: 10px;
}

.dates {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-bottom: 2px solid #000000;
  margin-bottom: 10px;
}

.statusBtns {
  display: flex;
  flex-direction: column;
  margin-top: auto;
}
